In [5]:
import pandas as pd
import numpy as np
import tensorflow as tf

from tensorflow.keras import datasets, layers, models
import matplotlib.pyplot as plt

from PIL import Image

In [6]:
colourImg = Image.open("archive\cats\Data\cat_0.png")
colourArray = np.array(colourImg.getdata())

df = pd.DataFrame(colourArray, columns=["red","green","blue"])

In [10]:
colourImg
colourArray.shape
df

      red  green  blue
0      84     73    67
1     126    113   105
2     131    117   108
3     121    103    91
4     116     97    83
...   ...    ...   ...
4091   22     12    10
4092   29     19    17
4093   29     19    17
4094   21     11     9
4095   30     20    18

[4096 rows x 3 columns]

# Links

https://datascience.stackexchange.com/questions/81313/how-to-use-a-dataset-with-only-one-category-of-data

https://www.youtube.com/watch?v=jztwpsIzEGc&ab_channel=NicholasRenotte